<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidateSignup</servlet-name>
        <servlet-class>pi.ValidateSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateLogin</servlet-name>
        <servlet-class>pi.ValidateLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>pi.ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminScreen</servlet-name>
        <servlet-class>pi.AdminScreen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDisplay</servlet-name>
        <servlet-class>pi.AddDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Schedule</servlet-name>
        <servlet-class>pi.Schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersDisplay</servlet-name>
        <servlet-class>pi.UsersDisplay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateSignup</servlet-name>
        <url-pattern>/ValidateSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLogin</servlet-name>
        <url-pattern>/ValidateLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminScreen</servlet-name>
        <url-pattern>/AdminScreen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDisplay</servlet-name>
        <url-pattern>/AddDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Schedule</servlet-name>
        <url-pattern>/Schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersDisplay</servlet-name>
        <url-pattern>/UsersDisplay</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
